.editor-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #141414;
    overflow: hidden;
}

.editor-main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.editor-right-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}